    html, body {
      width: 100%;
      background: white;
      height:100%;
      font-family: 'Dosis', sans-serif;
      font-size: 14px;

    }

    h1 {
      line-height: 23px;
      font-weight: 300;
      font-size:18px;
      padding-left: 0%;
      margin-top:10px;
      font-family: 'Roboto', sans-serif;
    }

    h2 {
      font-size: 26px;
      padding-left: 5%;
      font-weight:300;
      font-family: 'Roboto', sans-serif;
      line-height: 30px;
    }

    h3 {
      line-height: 23px;
      font-weight: 300;
      font-size:18px;
      padding-left: 8%;
      margin-top:10px;
      font-family: 'Roboto', sans-serif;
    }

    h4 {
      font-size: 20px;
      padding-left: 5%;
      font-weight:700;
      font-family: 'Archivo Narrow', sans-serif;
      line-height: 10px;

    }

    h5 {
      font-size: 13px;
      line-height: 12px;
      font-weight:400;
      text-decoration: lowercase;
      font-family: 'Roboto', sans-serif;
      float: left;
    }

    h6 {
      font-size: 20px;
      padding-left: 10%;
      font-weight:600;
      font-family: 'Dosis', sans-serif;
    }

    li:visited {
      background-color: white;
    }

    .infoWindow {
      padding: 0;
      margin-top: 10px;
      background: #FFFFFF;
      border-radius: 7px;
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
      font-weight: 400;
      position: absolute;
      height: 195px;
      top: 100px;
      width: 300px;
      margin-left: 50px;
      text-align: center;
      color: #000;
      padding-top:0px;
      display: block;
      /*border-style: solid;*/
      opacity: 0.9;
    }  

    .infoWindow li.min {
      float: left;
      /*margin: 0 0 5px;*/
      margin-top: 27px;
      text-transform: uppercase;
    }

    .infoWindow li.max {
      float: right;
      margin: 0 0 5px;
      margin-top: 27px;
      text-transform: uppercase;
    }

    .infoWindow ul {
      list-style:none;
      -webkit-padding-start: 10px;
      -webkit-padding-end: 10px;
    }

    .infoWindow h5 {
      /*text-transform: capitalize;*/
      text-align: left;
      padding-top: 8px;
      color: #222;
      font-weight: 300;
      font-size: 11px;
    }

    .legendGradient {
      width:150px;
      padding-left: 10px;
    }

    .heatMapBar {
      height:12px;
      background: -webkit-linear-gradient(right,#dc0023,#f74a27,#fbb100,#20c063);
      background-image: -webkit-linear-gradient(right, rgb(220, 0, 35), rgb(247, 74, 39), rgb(251, 177, 0), rgb(32, 192, 99));
      border-radius: 200px;
      padding:10px;
    }

    .pvs {
      padding-top: 5px! important;
      padding-bottom: 5px! important;
    }

    .btn-group {
      padding-left: 5%;
     /* margin-bottom: 1%;*/
    }

    .dropdown {
      padding-left: 5%;
      padding-right: 5%;
      float: left;
      margin-top: 10px;
      margin-bottom:20px;
      width: 100%;
    }

    .dropdown h4 {
      padding-left: 0px;
      line-height: 20px;
    }

    .dropdown-menu {
      font-family: 'Roboto';
      font-size:12px; 
    }

    .scrollable-menu {
      height: auto;
      max-height: 150px;
      overflow-x: hidden;
      margin-left: 20px;
      width: 80%;
    } 

    .btn-default {
      background-color: white;
      color:#666;
      border-radius: 4px;
      width:100%;
      border:1px solid #ccc;
      font-size: 12px;
      font-family: Roboto;
      float: right;
      text-align: left;
    }

    .map {
      width: 100%;
      height: 100%;
      margin-top: 60px;
      position: fixed;
    }

    .row {
      padding-right: 0px;
      margin-right: 0px;
    }

    .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 0px;
    }

    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }

    .legend {
      line-height: 18px;
      color: #555;
    }

    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.9;
      background-color: white;
    }


    .navbar {
      border-radius: 0px;
      position: fixed;
      z-index: 10;
      width: 100%;
    }


    .navbar-right {
      padding-right:0px;
    }


    .navbar-default {
      margin-bottom: 0px;
      cursor: pointer;
      font-family: 'Oswald';
      border-bottom: 1px solid #ddd;
      background-color: #fefefe; 
      color:white;

    }
    .navbar-default:visited {
      margin-bottom: 0px;
      cursor: pointer;
    }

    .navbar-brand {
      padding-top: 8px;
    }


    .navbar-brand:hover {
      background-color: white;
    }

    .navbar-nav {
      border-bottom-width: 2px;
      border-bottom: black;
      margin: 0px;
      padding-left: 10px;
    }

    .navbar-header {
      font-color: #fff;
    }

    .sidebar {
      padding: 20px;
      position: absolute;
      right: 20px;
      top: 70px;
      background: #ffffff;
      border-radius: 7px;
      color:#666;
      width: 30%;
     
      box-size: border-box;
      opacity: 0.9;
    }

    .myButton {
      margin: 3px;
      padding: 8px;
      line-height: 15px;
    }



    .form-control {
      font-family: 'roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;
      padding-left: 10px;
    }

/*  .welcome-options .inner-container {
      background: #EAEEF1;
      padding: 50px;
      display: inline-block;
      box-shadow: 1px 7px 10px rgba(0,0,0,0.2);
    }

    .generic-background {
      border: 1px solid #e6e6e6;
    }
*/

    #loc {
     padding-left: 0px;
     padding-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      width: 140px;
     }

    #left {
      background: #f5f5f3;
      padding: 10px;
      border-radius: 10px;
      font-size: 20px;
      position: relative;
      top: 10px;
      width: auto;
      display: inline;
      margin-left: 0px;
      float: left;
      font-family: 'Dosis', sans-serif;
    }

    #tit {
      float: left;
      font-size:15px;
      text-transform: uppercase;
    }

    .markdown-body img {
      max-width: 600px !important;
    }

    @media screen and (max-width: 768px) {
    .sidebar { 
      width: 40%;
      z-index: 8;
    }

    .scrollable-menu {
      height: auto;
      max-height: 150px;
      overflow-x: hidden;
      margin-left: 0px;
      width: 30%;
    } 


    .infoWindow {
      padding: 0;
      margin-top: 10px;
      background: #FFFFFF;
      border-radius: 7px;
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
      font-weight: 400;
      position: absolute;
      height: 240px;
      top: 274px;
      width: 180px;
      margin-left: 10px;
      text-align: center;
      color: #000;
      padding-top:0px;
      display: block;
      /*border-style: solid;*/
      opacity: 0.9;
    }  

    #tit {
      font-size: 12px;
    }
 
    .heatMapBar {
      margin-top: 5px !important;
    }

    .infoWindow li.min {
      margin-top: 22px;
    }

    .infoWindow li.max {
      margin-top: 22px;
    }

    .infoWindow h5 {
      margin-top: 2px;
    }

    .sidebar h2 {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      margin-top: 0px;
      margin-bottom: 3px;
    }

    .sidebar h3 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0px;
    }


    .dropdown {
      margin-bottom: 13px;
    }

    #appr {
      z-index: 29;
    }
    .apprise {
      z-index: 30;
    }

    #loc {
      width: 100%;
    }
    }

